.modeButtonActive {
    color: #ff8f00;
}

.modeButton:hover {
    color: #ff8f00;
    text-shadow: 1px 1px 2px black;
}


.calendarHeaderButtons {
    color: #ff8f00;
}

button {
    text-shadow: 0px 1px 0px black;
}

.weekRow{
    max-Height: 75px

}

.currentDay {
    border-radius: 50%;
    color: white;
    background-color: #ff8f00;
}