.modeButtonActive {
    color: #ff8f00;
}

.modeButton:hover {
    color: #ff8f00;
    text-shadow: 1px 1px 2px black;
}


.calendarHeaderButtons {
    color: #ff8f00;
}

.buttonCard {
    text-shadow: 0px 0px 0px black;
}

button {
    text-shadow: 0px 1px 0px black;
}



.currentDay {
    border-radius: 50%;
    color: white;
    background-color: #ff8f00;
}