.modeButtonActive {
  color: #ff8f00 !important;
}

.modeButton:hover {
  color: #ff8f00 !important;
  text-shadow: 1px 1px 2px black !important;
}

.calendarHeaderButtons {
  color: #ff8f00 !important;
}

button {
  text-shadow: 0px 1px 0px black !important;
}

.weekRow {
  max-height: 70px !important;
}

.currentDay {
  border-radius: 50% !important;
  color: white !important;
  background-color: #ff8f00 !important;
}

.MuiCardContent-root {
  padding: 10px !important; 
}

.calendarHeaderButtons {
  margin: 10px 0 !important;
}